szpital{
	/*font-family: "Comic Sans MS";*/
	font-family: "Helvetica";
	color: white;
	background-image: linear-gradient(130deg,#A967EB, #1A67EB);
}

/*COUNTERS*/
lekarze{
	counter-reset: lek;
}
pielegniarki{
	counter-reset: pie;
}
pacjenci{
	counter-reset: pac;
}
lekarz:before{
	counter-increment: lek;
	content: counter(lek);
}
pielegniarka:before{
	counter-increment: pie;
	content: counter(pie);
}
pacjent:before{
	counter-increment: pac;
	content: counter(pac);
}
diagnostyka{
	counter-reset: diag;
}
chirurgia{
	counter-reset: chir;
}
komputery{
	counter-reset: komp;
}
diagnostyka>produkt:before{
	counter-increment: diag;
	content: counter(diag);
}
chirurgia>produkt:before{
	counter-increment: chir;
	content: counter(chir);
}
komputery>stacjonarne>produkt:before, komputery>laptopy>produkt:before{
	counter-increment: komp;
	content: counter(komp);
}

/*BEFORE AFTER*/
lekarze:before{
	content: "LEKARZE:";
}
pielegniarki:before{
	content: "PIELĘGNIARKI:";
}
pacjenci:before{
	content: "PACJENCI:";
}
wiek:before{
	content: "wiek: ";
}
wiek:after{
	content: " lat(a)";
}
leki:before{
	content: "Leki: ";
}
diagnostyka:before{
	content: "Diagnostyka:";
}
chirurgia:before{
	content: "Chirurgia:";
}
komputery:before{
	content: "Komputery:";
}
staz:before {
	content: "staż: ";
}
godzinyPracy:before {
	content: "godz. pracy: ";
}
staz:after {
	content: " lat(a), ";
}

/*POSITIONING, COLORS, FONTS ETC*/
lekarze, pielegniarki, pacjenci, diagnostyka, chirurgia, komputery{

	display: inline;
	float: left;
	width: 30%;
	border: solid #a2a8d3;
	padding: 10px;
	margin: 6px;
	filter: drop-shadow(-1px 10px 8px rgba(50, 50, 0, 0.8));
	transition: background 0.5s ease-out;
  	transition: all 2s ease-out;
	background-image: linear-gradient(130deg,#1A67EB, #A967EB);
}
lekarze:hover, pielegniarki:hover, pacjenci:hover, diagnostyka:hover, chirurgia:hover, komputery:hover{
	background: #DEBCEB;
	color: black;

}
lekarz, pielegniarka, pacjent,produkt{
	display: block;
	padding: 10px;
	border: solid #a2a8d3;
	margin: 4px;
	transition: background 0.5s ease-out;
  	transition: all 2s ease-out;
}
leki, lek, sprzet{
	display: block;
}
nazwisko, nazwa, model, specjalizacja{
	font-size: 15px;
	font-weight: bold; 
}
nazwisko, model{
	text-decoration: underline;
}
imie, staz, godzinyPracy, wiek, rocznik{
	font-size: 12px;
}
specjalizacja{
	color: #a2a8d3;
}

/*SEPARATE RULES*/
lekarz[oddzial='Choroby Wewnetrzne Kardiologia']{
	border: solid #C5FDC9;
}
nazwisko:hover, specjalizacja:hover{
    color: red;
    transition: all 0.8s ease;
}